@{
    ViewData["Title"] = "Demo Live Insights";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h1>Live Insights info</h1>
    <h3>Ensure you have saved the connection string info in your user secrets file</h3>

    <span>
        &quot;ApplicationInsights&quot;: {<br />
        &quot;ConnectionString&quot;: &quot;InstrumentationKey=your-key-here;IngestionEndpoint=https://your-region-here.in.applicationinsights.azure.com/&quot;<br />
      }
    </span>

    <h3>Log in to your Azure Account</h3>
    <span>
        Find the Application Insights, then go to the "Live Metrics" left-nav under "Investigate"
    </span>
</div>
